<!DOCTYPE html>
<html>
    <head>
        <title>Environment Variables</title>
        <meta charset="UTF-8">
        <style>
            table, th, td {
                border: 1px solid black;
            }

            td {
                max-width: 1000px;
                word-wrap: break-word;
            }
        </style>
    </head>

    <body>
        <main>
            <table>
                <caption>Environment Variables</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range . }}
                        <tr>
                            <td>{{.Key}}</td>
                            <td>{{.Value}}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
    </body>
</html>
